.container {
    margin: 0;
    padding: 0;
}

* {
    .container;
}

.preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 9999;
}

.loaditem {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 50%;
    margin-left: -50px;
    top: 50%;
    margin-top: -50px;
}

#part1 {
    background-size: cover;
}

#part1 {
    height: 100vh;
    background-color: transparent;
    background-image: url('../images/pexels-burst-374811.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 0;
}

.menu-open:hover {
    background: #f69f63;

}

.menu-open:first-child {
    margin-top: 12px;
}

.menu-open span:first-child,
.menu-open span:last-child,
.menu-open span:nth-last-of-type(2) {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: all .5s;
    transition: all .5s;
}

.menu-open {
    position: fixed;
    z-index: 1;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    right: 55px;
    top: 40px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, .1);
    overflow: hidden;
    z-index: 102;

    span {
        display: block;
        background: #fff;
        width: 26px;
        height: 2px;
        line-height: 10px;
        margin: 0 auto;
        margin-top: 5px;
        position: relative;
        top: 7px;
    }
}

.preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 9999;

    .loaditem {
        position: absolute;
        width: 100px;
        height: 100px;
        left: 50%;
        margin-left: -50px;
        top: 50%;
        margin-top: -50px;
    }
}

.part {
    overflow: hidden;
    padding: 100px 0;
    display: table;
    table-layout: fixed;
    width: 100%;
    position: relative;

    .pa-tablecell {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 1;

        .page {
            .wow {
                visibility: visible;
                animation-duration: 2s;
                animation-name: zoomIn;
            }

            .nav {
                text-align: center;
                color: #fff;

                p {
                    letter-spacing: 10px;
                    margin: 20px 0;
                }

                a {
                    margin: 0 auto;
                    text-decoration: none;
                    color: #f69f63;
                    font-size: 20px;
                    padding: 5px 15px;
                    position: relative;
                    top: 25px;
                    text-transform: uppercase;
                    transition: 0.5s;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    width: 145px;
                    -webkit-box-reflect: below 1px linear-gradient(#607d8b17, #0003);
                }

                a:hover {
                    background: #f69f63;
                    color: #111;
                    box-shadow: 0 0 50 #f69f63;
                    transition-delay: .5s;
                }

                a:hover::before {
                    width: 100%;
                    height: 100%;
                    transition-delay: 0s;
                }

                a:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 10px;
                    height: 10px;
                    border-top: 2px solid #f69f63;
                    border-left: 2px solid #f69f63;
                    transition: .5s;
                    transition-delay: .3s;
                }

                a:hover::after {
                    width: 100%;
                    height: 100%;
                    transition-delay: 0s;
                }

                a::after {
                    content: '';
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    width: 10px;
                    height: 10px;
                    border-bottom: 2px solid #f69f63;
                    border-right: 2px solid #f69f63;
                    transition: .5s;
                    transition-delay: .3s;
                }
            }

            .next:hover {
                background-color: #f69f63;
            }

            .next {
                display: block;
                width: 45px;
                height: 45px;
                border-radius: 50%;
                position: absolute;
                bottom: 30px;
                left: 50%;
                margin-left: -25px !important;
                z-index: 0;
                -webkit-transition: all .5s ease-out;
                transition: all .5s ease-out;
                cursor: pointer;
                text-align: center;

                img {
                    width: 35px;
                    height: 45px;
                    position: relative;
                    top: 3px;
                    right: 1px;
                }
            }

        }


        .page2 {
            width: 90%;
            position: relative;
            margin: 0 auto;
            padding-top: .1px;
            font-family: "Microsoft YaHei";
        }

        @media screen and(min-width: 1200px) {
            .page2 {
                width: 1170px;
            }
        }


        @media screen and (min-width: 992px) {
            .page2 {
                width: 970px;
            }
        }

    }
}