.container {
    margin: 0;
    padding: 0;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

body {
    cursor: url("/images/dianji.png"),auto;
}

* {
    .container;

}

a {
    text-decoration: none;
    color: white;
    transition: all .3s !important;
}

ul {
    list-style: none;
}

#ascrail2000 {
    z-index: 999 !important;
}

.button {
    display: block;
    height: 45px;
    width: 200px;
    border: 1px solid #000000a6;
    margin: 200px auto 100px;
    color: #242424;
    line-height: 45px;
    position: relative;
    text-align: center;
    font-size: 16px;
    overflow: hidden;
    cursor: pointer;
}

.button-before {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    transition: all .3s;
}

.skill-text {
    width: 45px;
    height: 45px;
    background-size: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 9999;
}

.loaditem {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 50%;
    margin-left: -50px;
    top: 50%;
    margin-top: -50px;
}

#part1,
#about {
    background-size: cover;
}

#part1 {
    height: 100vh;
    background-color: transparent;
    background-image: url('../images/pexels-burst-374811.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 0;
}

.menu-open:hover {
    background: #f97352;

}

.menu-open:first-child {
    margin-top: 12px;
}

.menu-open span:first-child,
.menu-open span:last-child,
.menu-open span:nth-last-of-type(2) {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: all .5s;
    transition: all .5s;
}


.menu-open {
    position: fixed;
    z-index: 1;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    right: 12%;
    top: 5px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, .1);
    overflow: hidden;
    z-index: 980;
    transition: all 1s;

    span {
        display: block;
        background: #fff;
        width: 26px;
        height: 2px;
        line-height: 10px;
        margin: 0 auto;
        margin-top: 5px;
        position: relative;
        top: 7px;
    }
}

.preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 9999;

    .loaditem {
        position: absolute;
        width: 100px;
        height: 100px;
        left: 50%;
        margin-left: -50px;
        top: 50%;
        margin-top: -50px;
    }
}

.navigation {
    height: 50px;
    width: 100%;
    line-height: 10px;
    background-color: #000000db;
    position: sticky;
    top: 0;
    z-index: 800;

    ul {
        right: 15%;
        position: absolute;

        li {
            color: white;
            float: left;
            font-weight: 900;
            text-align: center;
            height: 100%;
            margin: 20px 20px;
        }
    }
}

#case {
    background: #f7f7f7;
    overflow: hidden;
}

.part {
    overflow: hidden;
    padding: 100px 0;
    display: table;
    table-layout: fixed;
    width: 100%;
    position: relative;

    .pa-tablecell {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 1;

        .page {
            .wow {
                visibility: visible;
                animation-duration: 2s;
                animation-name: zoomIn;
            }

            .nav {
                text-align: center;
                color: #fff;

                p {
                    letter-spacing: 10px;
                    margin: 20px 0;
                }

                a {
                    margin: 0 auto;
                    text-decoration: none;
                    color: #f97352;
                    font-size: 20px;
                    padding: 5px 15px;
                    position: relative;
                    top: 25px;
                    text-transform: uppercase;
                    transition: 1s !important;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    width: 145px;
                    -webkit-box-reflect: below 1px linear-gradient(#607d8b17, #0003);
                }

                a:hover {
                    background: #f97352;
                    color: white;
                    box-shadow: 0 0 50 #f97352;
                    transition-delay: .5s;
                }

                a:hover::before {
                    width: 100%;
                    height: 100%;
                    transition-delay: 0s;
                }

                a:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 10px;
                    height: 10px;
                    border-top: 2px solid #f97352;
                    border-left: 2px solid #f97352;
                    transition: .5s;
                    transition-delay: .3s;
                }

                a:hover::after {
                    width: 100%;
                    height: 100%;
                    transition-delay: 0s;
                }

                a::after {
                    content: '';
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    width: 10px;
                    height: 10px;
                    border-bottom: 2px solid #f97352;
                    border-right: 2px solid #f97352;
                    transition: .5s;
                    transition-delay: .3s;
                }
            }

            @keyframes Vertical {
                0% {
                    bottom: 60px;
                    opacity: 0;
                }

                100% {
                    bottom: 10px;
                }
            }

            .next {
                display: block;
                width: 45px;
                height: 45px;
                border-radius: 50%;
                position: absolute;
                bottom: 60px;
                left: 50%;
                margin-left: -25px !important;
                z-index: 0;
                -webkit-transition: all .5s ease-out;
                transition: all .5s ease-out;
                cursor: pointer;
                text-align: center;
                animation: Vertical 1.4s infinite;

                img {
                    width: 35px;
                    height: 45px;
                    position: relative;
                    top: 3px;
                    right: 1px;
                }
            }

            .next::after {
                font-family: "iconfont" !important;
                content: "\e606";
                color: white;
                width: 100%;
                height: 100%;
                font-size: 45px;
                display: block;
                position: absolute;
            }

            // .next:hover .next::after {
            //     color: red;
            // }

        }


        .page2 {
            width: 90%;
            position: relative;
            margin: 0 auto;
            padding-top: .1px;
            font-family: "Microsoft YaHei";

            .container {
                width: 100%;
                height: 100%;
                position: relative;

                .title {
                    text-align: center;

                    .inner {
                        display: inline-block;
                        vertical-align: middle;

                        h1 {
                            font-size: 41px;
                            font-weight: 500;
                            padding-bottom: 10px;
                            position: relative;
                            text-transform: uppercase;
                            color: #353535;
                            letter-spacing: 5px;

                        }

                        h2 {
                            font-size: 24px;
                            line-height: 40px;
                            font-weight: 100;
                            color: #424242;
                            letter-spacing: 5px;
                        }


                        .line {
                            height: 2px;
                            border: none;
                            width: 45px;
                            background: #424242;
                            display: block;
                            margin: 25px auto 45px;

                        }

                        p {
                            color: #242424;
                            font-weight: lighter;
                            font-size: 14px;
                            letter-spacing: 3px;
                            line-height: 24px;
                            text-align: center;
                            padding: 0 10px;
                        }
                    }

                }

            }

            .debris-row::before {
                content: '';
                display: block;
                clear: both;
            }

            .skill-list {
                text-align: center;
                margin-top: 50px;
                margin-bottom: -20px;


                li {
                    display: inline-block;

                    .skill-item {
                        position: relative;
                        margin: 0 20px;
                        cursor: pointer;
                        display: inline-block;
                        width: 100px;
                        height: 100px;
                        border: 1px dashed #424242;
                        border-radius: 50%;
                        overflow: hidden;
                        z-index: 9;

                        .skill-inscir .skill-text,
                        .skill-inscir .skill-per {
                            position: absolute;
                            left: 0;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            margin: auto;
                            width: 100%;
                            height: 100%;
                            transition: all .2s;
                            font-size: 14px;
                        }

                        .skill-inscir {
                            position: absolute;
                            left: 0;
                            right: 0;
                            top: 0;
                            bottom: 0;
                            margin: auto;
                            border: 1px solid rgba(255, 255, 255, .4);
                            width: 45px;
                            height: 45px;
                            background: #616161;
                            border-radius: 50%;
                            color: #fff;
                            z-index: 2;
                            line-height: 45px;
                            opacity: 0.9;

                            .skill-text1,
                            .skill-text2,
                            .skill-text3,
                            .skill-text4,
                            .skill-text5,
                            .skill-text6 {
                                .skill-text;
                            }

                            .skill-text1 {
                                background-image: url('../images/PS.png');
                            }

                            .skill-text2 {
                                background-image: url('../images/html.png');
                            }

                            .skill-text3 {
                                background-image: url('../images/js.png');
                            }

                            .skill-text4 {
                                background-image: url('../images/jquery.png');
                            }

                            .skill-text5 {
                                background-image: url('../images/bootstrap.png');
                            }

                            .skill-text6 {
                                background-image: url('../images/vue.png');
                            }

                            .skill-per {
                                opacity: 0;
                                transform: scale(0);
                            }
                        }

                        .skill-img {
                            background: url('../images/wave.png');
                            // steps 第一个参数是帧数，第二个是开始时间  infinite无限循环
                            animation: bear-run 2s steps(60) 0s infinite;
                            background-size: 200%;
                            position: absolute;
                            width: 100px;
                            height: 100px;
                            left: 0;
                            bottom: -100px;
                            z-index: 1;
                            transition: all 1.5s;
                            opacity: .7;
                        }

                        @keyframes bear-run {
                            0% {
                                background-position: 0 0;
                            }

                            100% {
                                background-position: -100px 0;
                            }
                        }
                    }
                }

            }

            #skill-list li:hover .skill-per {
                opacity: 1;
                transform: scale(1);
            }

            #skill-list li:hover .kind {
                opacity: 0;
                transform: scale(0);
            }

            .button {
                .button;
            }

            .button::before {
                content: "我的简历";
                .button-before;
            }

            .button::after {
                font-family: "iconfont" !important;
                content: "\e64e";
                display: block;
                position: absolute;
                top: -100%;
                left: 0;
                opacity: 0;
                color: white;
                font-size: 20px;
                width: 100%;
                height: 100%;
                transition: all .3s;
                font-size: 30px;
            }

            .button:hover {
                background: rgba(66, 66, 66, 1);
                color: white;
                border-radius: 50px;
            }

            .button:hover::before {
                top: -100%;

            }

            .button:hover:after {
                top: 0;
                opacity: 1;
            }

        }

        // @media screen and(min-width: 1200px) {
        //     .page2 {
        //         width: 1170px;
        //     }
        // }


        // @media screen and (min-width: 992px) {
        //     .page2 {
        //         width: 970px;
        //     }
        // }
        .works-list-tab {
            text-align: center;
            margin-top: 60px;
            display: inline-block;
            font-size: 0;
            width: 100%;

            ul {
                display: inline-block;
                overflow: hidden;
                border-radius: 50px;
                border: solid 1px #666;

                .act {
                    color: white;
                    background: #666;
                }

                li {
                    display: inline-block;
                    color: #666;
                    cursor: pointer;
                    font-size: 16px;
                    border-right: solid 1px #666;
                    font-weight: 300;
                    padding: 8px 30px;
                    transition: all .4s;
                }

                li:hover {
                    color: white;
                    background: #a3a3a3;
                }
            }


        }

        .works-list {
            overflow: hidden;
            transition: all 1s;
            text-align: center;
            font-size: 0;
            margin-top: 36px;

            li {
                position: relative;
                display: inline-block;
                width: 17.66666%;
                overflow: hidden;
                transition: all 1.1s;

                img {
                    transition: all 1s;
                    width: 100%;
                    display: block;
                }

                .works-list-title {
                    position: absolute;
                    background: rgba(0, 0, 0, .7);
                    width: 0%;
                    height: 0%;
                    opacity: 0;
                    top: 50%;
                    left: 50%;
                    border-radius: 50%;
                    transition: all .5s ease-in;

                    p {
                        font-size: 16px;
                        text-align: center;
                        margin-top: 50%;
                        line-height: 2px;
                    }
                }

            }

            li:hover .works-list-title {
                width: 200%;
                height: 200%;
                opacity: 1;
                z-index: 1;
                top: -50%;
                left: -50%;
            }

            li:hover img {
                transform: scale(1.5);
            }
        }

        #button2::before {
            content: "More";
        }

    }
}

.advantage {
    overflow: hidden;
    z-index: 99;
    background: white;
    position: relative;

    .adv-title {
        padding: 60px 0;
        text-align: center;
        color: rgb(255, 255, 255);
        background: #333;
        font-weight: bold;
        font-size: 24px;
        line-height: 48px;
    }

    p {
        font-size: 14px;
        color: rgba(255, 255, 255, .8);
        font-weight: 100;
        line-height: 28px;
    }

    .adv-main {
        overflow: hidden;

        .adv-item {
            width: 33.333%;
            float: left;
            background-size: cover;

            i {
                display: block;
                width: 128px;
                height: 128px;
                text-align: center;
                margin: 100px auto;
                font-style: normal;
            }

            svg {
                display: block;
                font-size: 70px;
                position: absolute;
                left: 45%;
                top: 0%;
                opacity: .6;
            }
        }

        .aff {
            display: block;
            line-height: 185px;
            font-size: 23px;
            font-weight: bold;
        }

        .adv-item:nth-child(1) {
            background-image: url('../images/pexels-tranmautritam-251225.jpg');

            i::after {
                .aff;
                content: "代码编程";
                color: #212525;
            }
        }

        .adv-item:nth-child(2) {
            background-image: url('../images/kitten-1285341_1920.jpg');

            i::after {
                .aff;
                content: "撸猫";
                color: #e2d2b9;
            }
        }

        .adv-item:nth-child(3) {
            background-image: url('../images/v2-09d9a4b0086facc840c1ed2dad30b1e0_720w.jpg');

            i::after {
                .aff;
                content: "动漫与影视";
                color: #e99867;

            }
        }
    }

    .center-block {
        max-width: 1200px;
        margin: 0 auto;

        ul {
            overflow: hidden;
            margin: 100px 0 200px 0;

            li:nth-child(1) i:hover {
                color: white;
                background-color: #ff5200;
            }

            li:nth-child(2) i:hover {
                color: white;
                background-color: #0abb0a;
            }

            li:nth-child(3) i:hover {
                color: white;
                background-color: #33aaff;
            }

            li:nth-child(4) i:hover {
                color: white;
                background-color: #4e22ff;
            }

            li {
                float: left;
                box-sizing: border-box;
                padding: 0 10px;
                text-align: center;
                width: 25%;

                i {
                    font-size: 50px;
                    display: block;
                    width: 80px;
                    height: 80px;
                    margin: 0 auto;
                    line-height: 80px;
                    color: #666;
                    cursor: pointer;
                    font-weight: 400;
                    border-radius: 50%;
                    transition: all .6s;
                }

                h2 {
                    color: #666;
                    font-size: 20px;
                }

                p {
                    color: #777;
                    padding: 5px 20px;
                    box-sizing: border-box;
                    margin: 0 auto;
                    text-align: center;
                    letter-spacing: 1px;
                    font-weight: 400;
                }
            }
        }
    }

}


.partner {
    z-index: 99;
    position: relative;
    overflow: hidden;
    background-color: #335567;
    padding: 200px 0 0;

    .center-block {
        max-width: 1200px;
        margin: 0 auto;

        .info-title {
            text-align: center;
            font-weight: 600;
            font-size: 25px;
            letter-spacing: 3px;
            color: white;

            @keyframes title-img {

                0%,
                100% {
                    transform: translateY(15px);
                }

                50% {
                    transform: translateY(0);
                }
            }

            img {
                width: 80px;
                height: 80px;
                display: block;
                margin: 0 auto 40px;
                animation: title-img 2s infinite linear;
            }

        }

        hr {
            display: block;
            margin: 20px auto;
            height: 2px;
            background: #ccc;
            width: 50px;
            border: none;
        }

        .info-con {
            text-align: center;
        }

        .button {
            .button;
            background: #ec7035;
            font-weight: normal;
            letter-spacing: normal;
        }

        .button::before {
            content: "More";
            .button-before;
            color: white;
        }

        .button::after {
            font-family: "iconfont" !important;
            content: "\e64e";
            display: block;
            position: absolute;
            top: -100%;
            left: 0;
            opacity: 0;
            color: white;
            font-size: 20px;
            width: 100%;
            height: 100%;
            transition: all .3s;
            font-size: 30px;
        }

        .button:hover {
            background: #ec7035;
            color: white;
            border-radius: 50px;
        }

        .button:hover::before {
            top: -100%;

        }

        .button:hover:after {
            top: 0;
            opacity: 1;
        }

    }
}